{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %} Gotcha | API Benchmark for Django {{ block.super }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1 class="page-header">GOTCHA - Dashboard</h1>
                <h2 class="sub-header">{{.Name}}</h2>

                <button  id='fetchUrls' class='btn btn-lg btn-primary'>Fetch URLs</button>
                <button data-toggle="modal" id="addUrl" data-target=".bs-example-modal-lg" class='btn btn-lg btn-danger'>Add URL</button>
                <button data-toggle="modal" id="callBack" data-target=".modal2" class='btn btn-lg btn-primary'>Add Callback</button>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Faster</th>
                                <th>Last</th>
                                <th>Previous</th>
                                <th>Time</th>
                                <th>Status Code </th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="urls"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New URL</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Title</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Url</label>
                            <input type='text' class="form-control" id="url"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="submit-url btn btn-primary">Add URL</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">New Callback</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Callback URL</label>
                            <input type="text" class="form-control" id="callback-url">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="submit-callback btn btn-primary">Add Callback</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script type="text/javascript">
        (function($){
            var token = 'dc61660cefcaab414581a46a';
            var application_id = '56a37dbd2cd1700e04ee9d84';
            var gotcha_client = 'http://gotcha.hipo.biz'
            var app_base_url = gotcha_client + '/api/applications/' + application_id;

            $.get('http://crossorigin.me/' + app_base_url + '/urls?token='+ token, function(response){
                var urls = JSON.parse(response);
                //<a href="/applications/56a37dbd2cd1700e04ee9d84/urls/56a393ad2cd170528b31410a">naber</a>
                var compiled = _.template('<% _.forEach(urls, function(url) { %>  <tr><td><a href="<%= url.Id %>"><%= url.Title %></a></td><td><A href=<%= url.Url %>><%= url.Url.substring(0, 50) %></a></td><td><%= url.Faster %></td><td><%= (url.Last * 1000).toFixed(3) %>ms</td></td><td><%= (url.Previous * 1000).toFixed(3)%>ms</td><td><%= url.Time %></td><td><%= url.Status %></td><td><button data-id="<%= url.Id %>" class=" remove glyphicon glyphicon-remove" aria-hidden="true"></button></td></tr><% }); %>');

                $('.urls').append((compiled({ 'urls': urls})));
                
                $('.remove').on('click', function(element){
                    var removeUrlId = element.target.dataset.id

                    $.ajax({
                        url: gotcha_client + '/urls/' + removeUrlId + '/?token=' + token,
                        type: 'DELETE',
                        complete: function(){
                            window.location.reload();
                        }
                    });
                });
            });

            $('#fetchUrls').on('click', function(){
                $.get('http://crossorigin.me/' + app_base_url + '/fetch?token='+ token, function(response){
                    window.location.reload();
                });
            });

            $('.submit-url').on('click', function(){
                debugger;
                var data = {"url": $('#url').val(), "title": $("#title").val()}

                $.ajax({
                    url: app_base_url + '/urls?token=' + token,
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    complete: function(response){

                    }
                });

                $('.submit-callback').on('click', function(){
                    var data = {"callbackurl": $('#callback-url').val()}
                    $.ajax({
                        url: app_base_url + '/addcallback?token=' + token,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        complete: function(){

                        }
                    });
                });

                $.get('http://crossorigin.me/' + app_base_url + '/fetch?token='+ token, function(response){
                    window.location.reload();
                });
            });
        })(jQuery);
    </script>

    <script type="text/javascript">
        // $(function(){
        //     var token = Cookies.get('gotcha_token')
        //     var compiled = _.template('<% _.forEach(records, function(record) { %>  <tr><td><%= record.Time %></td> <td><%= record.StatusCode %></td> <td><%= record.DateCreated %></td></tr><% }); %>');

        //     $.get('/api/applications/{{.ApplicationId.Hex}}/urls/{{.Id.Hex}}?token='+ token, function(response){
        //         var records = JSON.parse(response);
        //         // Ad this data to table
        //         $('.records').append((compiled({'records': records})))
        
        //         // Collect chart data
        //         chartData = []
        //         $.each(records, function(i, url_record){
        //             chartData[i] = {
        //                 date: url_record["DateCreated"],
        //                 time: url_record["Time"]
        //             };
        //         });

        //         setTimeout(function(){
        //             new Morris.Line({
        //                 // ID of the element in which to draw the chart.
        //                 element: 'urlDetailChart',
        //                 // Chart data records -- each entry in this array corresponds to a point on
        //                 // the chart.
        //                 data: chartData,
        //                 // The name of the data record attribute that contains x-values.
        //                 xkey: 'date',
        //                 // A list of names of data record attributes that contain y-values.
        //                 ykeys: ['time'],
        //                 // Labels for the ykeys -- will be displayed when you hover over the
        //                 // chart.
        //                 labels: ['Response Time']
        //             });
        //         }, 100);
        //     });
        // });
    </script>
{% endblock %}
