{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %} GOTCHA {{ block.super }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1 class="page-header">GOTCHA - Dashboard</h1>
                <h2 class="sub-header">{{.Name}}</h2>

                <button  id='fetchUrls' class='btn btn-lg btn-primary'>Fetch URLs</button>
                <button data-toggle="modal" id="addUrl" data-target=".bs-example-modal-lg" class='btn btn-lg btn-danger'>Add URL</button>
                <button data-toggle="modal" id="callBack" data-target=".modal2" class='btn btn-lg btn-primary'>Add Callback</button>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Faster</th>
                                <th>Last</th>
                                <th>Previous</th>
                                <th>Time</th>
                                <th>Status Code </th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="urls"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
    </footer>
{% endblock %}
